{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

{% if banners %}
    {% include 'banners.html' %}
{% endif %}

<div class="container home-page-container">
    <div class="row">
        <header class="col-12">
            <h1 id="home-page-heading" class="mt-5 text-center">CT's Housewares</h1>
            <h4 class="home-page-sub-heading text-uppercase text-center">Giving you the best products at the right price!</h4>
            <hr class="home-page-divider">
        </header>
        
        <section class="col-12">
            <p class="text-center">We have products from some of the UK's housewares such as Tower, Smeg, Swan & many more brands ranging from Kettles & Toasters, to intage Radios. Take a look for yourself, you won't be disapointed!</p>
        </section>
    </div>
</div>

{% endblock %}