{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col">
            <div class="jumbotron">
                <form method="POST">{% csrf_token %}
                    {{ login_form|crispy }}
                    <button type="submit" class="btn btn-primary">Login <i class="fas fa-sign-in-alt"></i></button>
                </form>
            </div>
        </div>
    </div>
</div>

{% if messages %}
    <div>
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    </div>
{% endif %}
{% endblock %}