{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Orders{% endblock %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home_page' %}">Home</a></li>
      <li class="breadcrumb-item"><a href="{% url 'profile' %}">Profile</a></li>
      <li class="breadcrumb-item active" aria-current="page">Orders</li>
    </ol>
  </nav>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col">
            <div class="jumbotron">
                {% for order in orders %}
                <p>{{ order }}</p>
                    {% for i in order.orderlineitem_set.all %}
                    <p>{{ i.product }} - {{ i.quantity }}</p>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}