{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Profile{% endblock %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home_page' %}">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Profile</li>
    </ol>
  </nav>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col">
            <div class="jumbotron">
                <h4><i class="far fa-user-circle"></i> Profile:</h4>
                <hr>
                <p><i class="far fa-user"></i> <b>Username:</b> {{ user }}</p>
                <p><i class="fas fa-grip-lines"></i> <b>Name:</b> {{ user.first_name }} {{ user.last_name }}</p>
                <p><i class="far fa-envelope"></i> <b>Email Address:</b> {{ user.email }}</p>
                <p><i class="far fa-calendar-check"></i> <b>Account Created:</b> {{ user.date_joined }}</p>
                <hr>
                <div class="accordion" id="accordionExample">
                    {% if orders %}
                        <h4><i class="fas fa-box"></i> Order History:</h4>
                        {% for order in orders %}
                        <div class="card">
                            <div class="card-header" id="heading{{forloop.counter}}">
                            <h2 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse{{forloop.counter}}" aria-expanded="true" aria-controls="collapse{{forloop.counter}}">
                                    <p>Order Placed: {{ order.date }}</p>
                                </button>
                            </h2>
                            </div>
                        
                            <div id="collapse{{forloop.counter}}" class="collapse" aria-labelledby="heading{{forloop.counter}}" data-parent="#accordionExample">
                                <div class="card-body">
                                    {% for order_item in order.orderlineitem_set.all %}
                                        <p>{{ order_item.product.description }} - x{{ order_item.quantity }}</p>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}