{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Registration{% endblock %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home_page' %}">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Register</li>
    </ol>
  </nav>
{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col">
            <div class="jumbotron">
                <p class="text-muted mb-1">Already registered? <a href="{% url 'login' %}">Click here to login.</a> </p>
                <hr class="mt-1">
                <form method="POST">{% csrf_token %}
                    {{ registration_form|crispy }}
                    <button type="submit" class="btn btn-primary">Register <i class="fas fa-chevron-right"></i></button>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}