{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Registration{% endblock %}

{% block content %}
<!-- <form method="POST">{% csrf_token %}
    {{ login_form|crispy }}
    <button type="submit" class="btn btn-secondary">Login</button>
</form> -->
<p>Already registered? <a href="{% url 'login' %}">Click here to login</a> </p>
{% if messages %}
    <div>
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    </div>
{% endif %}
{% endblock %}