{% extends 'base.html' %}

{% block title %}Password Reset{% endblock %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home_page' %}">Home</a></li>
      <li class="breadcrumb-item"><a href="{% url 'login' %}">Login</a></li>
      <li class="breadcrumb-item active" aria-current="page">Reset Password</li>
    </ol>
  </nav>
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <div class="jumbotron">
                    <form method="POST">
                        <p>Please enter your email address</p>
                        {% csrf_token %}
                        {{ form.email.errors }}
                        <p>
                            <label for="id_email">Email address:</label>
                            {{ form.email }}
                            <button class="btn btn-primary" type="submit">Reset Password <i class="fas fa-user-edit"></i></button>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

