{% extends 'base.html' %}

{% load crispy_forms_tags %}

<!-- Password Reset Complete Title -->
{% block title %}Password Reset Complete{% endblock %}

<!-- Password Reset Complete -->
{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col">
            <div class="jumbotron">
                <p>Your password has now successfully been reset</p>
                <p><a href="{% url 'login' %}">Click here to go to the login page</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}