{% extends 'base.html' %}

{% load crispy_forms_tags %}

<!-- Password Reset Done Title -->
{% block title %}Password Reset Done{% endblock %}

<!-- Password Reset Done -->
{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col">
            <div class="jumbotron">
                <p class="d-flex justify-content-center"><i class="password-reset-success-icon far fa-check-circle"></i></p>
                <p>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
                <p>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
                <button class="password-done-button btn btn-primary"><a href="{% url 'home_page' %}">Back to Home Page <i class="fas fa-home"></i></a></button>
            </div>
        </div>
    </div>
</div>
{% endblock %}