{% extends 'base.html' %}

{% load crispy_forms_tags %}

<!-- Password Reset Confirm Title -->
{% block title %}Password Reset Confirm{% endblock %}

{% block content %}
<!-- Password Reset Confirmation -->
<div class="container mt-5">
    <div class="row">
        <div class="col">
            <div class="jumbotron">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.email.errors }}
                    <p>
                        {{ form|crispy }}
                        <button class="btn btn-primary" type="submit">Reset Password</button>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}