@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700&display=swap');

/* --------- HTML & body -------- */

html, body {
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

body {
    position: relative;
    height: 100%;
    min-height: 100vh;
}

/* --------- Containers -------- */

.navbar-container {
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0;
    transition: height .17s ease-in;
    height: 92px;
}

.base-container {
    margin-top: 92px;
}

.home-page-container {
    margin-top: 2rem;
}

/* --------- Bread Crumb -------- */

.breadcrumb-item,.breadcrumb-item>a {
    color: #000;
    font-weight: bold;
}

.breadcrumb-item>a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.breadcrumb-item+.breadcrumb-item::before {
    content: ">";
}

.main-product-image {
    z-index: 1;
}

/* --------- Home Page -------- */

.home-page-divider {
    width: 120px;
    background-color: #4892cb;
    height: 2px;
    border-radius: 1px;
}

/* --------- Navbar -------- */

.form-inline {
    display: flex;
    flex-flow: row nowrap;  
}

.form-control[type=search] {
    width: 100%;
}

.navbar-logo-scrolled {
    display: none;
}

.basket-counter {
    background-color: red;
    font-size: 0.75rem;
    top: 4px;
    left: 0;
    height: 15px;
    line-height: 16px;
    color: #fff;
    border-radius: 50%;
    box-shadow: 2px 2px 9px #000;
}

/* --------- Products Page -------- */

.product-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 200px;
}

.card-description {
    height: 60px;
}

.products-link, .products-link:hover {
    color: #000;
}

.add-to-cart-input-products {
    min-width: 250px;
}

.add-to-cart-input-products>input[name=quantity] {
    max-width: 70px;
}

.pagination>* {
    padding: 8px 0;
}

.pagination>*:hover {
    cursor: pointer;
}

.pagination a {
    color: #000;
    padding: 7px 13px;
}

.current-page, .page-selector {
    border-radius: 5px;
}

.current-page {
    background:linear-gradient(#4ea5e8, #35688e);
    color: #fff;
    padding: 8px 13px;
    margin-left: 2px;
    margin-right: 2px;
}

.page-selector {
    background-color: #ccc;
    margin-left: 2px;
    margin-right: 2px;
}

/* --------- Product Page -------- */

.add-to-cart-input-product {
    width: 250px;
}