@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700&display=swap');

/* --------- HTML & body -------- */

html, body {
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

body {
    position: relative;
    height: 100%;
    min-height: 100vh;
}

/* --------- Helpers -------- */

.backdrop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 8;
}

.backdrop:hover {
    cursor: pointer;
}

.carousel-indicators {
    z-index: 8;
}

/* ---------- Back to top icon ----------*/

.to-top {
    color: white;
    padding-top: 1.8em;
    display: inline-block;
    /* or block */
    position: fixed;
    bottom: 30px;
    right: 45px;
    text-decoration: none;
    -webkit-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
    opacity: 0;
    z-index: 1000;
}

.to-top:before {
    content: url(../img/chevronup.png);
    font-size: 1.9em;
    position: absolute;
    text-align: center;
    background-color: #00000050;
    top: 0;
    left: 50%;
    margin-left: -.7em;
    border: solid .13em white;
    border-radius: 10em;
    width: 1.6em;
    height: 1.6em;
    line-height: 1.3em;
    border-color: inherit;
    -webkit-transition: -webkit-transform .5s ease-in;
    transition: -webkit-transform .5s ease-in;
    -o-transition: transform .5s ease-in;
    transition: transform .5s ease-in;
    transition: transform .5s ease-in, -webkit-transform .5s ease-in;
}

.to-top:hover {
    border-color: #42a5f5;
}

.to-top:hover:before {
    content: url(../img/chevronupblue.png);
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}


/* --------- Containers -------- */

.base-container {
    margin-top: 92px;
}

.navbar-container {
    position: fixed;
    width: 100%;
    z-index: 9;
    top: 0;
    transition: height .17s ease-in;
    height: 92px;
}

.mobile-navbar-container {
    background-color: #fff;
    top: 92px;
    width: 70%;
    right: -70%;
    max-width: 500px;
    height: 100vh;
    transition: right .3s ease-in, top .17s ease-in;
}

.home-page-container {
    margin-top: 2rem;
}

.order-container {
    border: 1px solid #ccc;
}

/* --------- Bread Crumb -------- */

.breadcrumb {
    margin-bottom: 0;
}

.breadcrumb-item,.breadcrumb-item>a {
    color: #000;
    font-weight: bold;
}

.breadcrumb-item>a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.breadcrumb-item+.breadcrumb-item::before {
    content: ">";
}

.main-product-image {
    z-index: 1;
}

/* --------- Order Progress Bar -------- */

.progress,
.progression-labels {
    margin: auto;
}

.progress,
.cart-status-label,
.checkout-status-label,
.payment-status-label {
    width: 90%;
    height: 3px;
    max-width: 700px;
}

.progression-labels {
    width: 93%;
    max-width: 740px;
}

.cart-status,
.checkout-status,
.payment-status {
    margin-top: 14px;
}

.progression-labels-section {
    top: -19px;
}

.progression-labels-section>div {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #ddd;
}

.status-done {
    background:linear-gradient(#4ea5e8, #35688e) !important;
}

.checkout-status {
    width: 97px;
}

.progression-labels-section div {
    color: #fff;
}


/* --------- Home Page -------- */

.home-page-divider {
    width: 120px;
    background-color: #4892cb;
    height: 2px;
    border-radius: 1px;
}


/* --------- Navbar -------- */

.form-inline {
    display: flex;
    flex-flow: row nowrap;  
}

.form-control[type=search] {
    width: 100%;
}

.form-control[type=search]:focus {
    box-shadow: none;
}

.navbar-logo-scrolled {
    display: none;
}

.basket-counter {
    background-color: red;
    font-size: 0.75rem;
    top: 4px;
    left: -8px;
    height: 15px;
    line-height: 16px;
    color: #fff;
    border-radius: 50%;
    box-shadow: 2px 2px 9px #000;
}

.navbar-toggler {
    border: none;
    height: 40px;
}

.navbar-toggler:focus {
    outline: none;
}

.burger-icon-1,
.burger-icon-2,
.burger-icon-3 {
    width: 26px;
    height: 4px;
    background-color: #7f7f7f;
    border-radius: 2px;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    box-shadow: none;
    outline: none;
}

.burger-icon-1 {
    transform: translateY(-3px);
}

.burger-icon-3 {
    transform: translateY(3px);
}

#dropdown-menu-desktop {
    min-width: 12rem;
}

/* --------- Products Page -------- */

.select-brand,
.select-brand-button {
    height: 2rem;
}

.card {
    border-radius: 10px;
    transition: all 0.15s ease-in;
}

.card:hover {
    transform: scale(1.015);
    z-index: 5;
    box-shadow: 1px 1px 7px #5f5f5f;
}

.product-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 200px;
}

.card-description {
    height: 60px;
}

.products-link, .products-link:hover {
    color: #000;
}

.add-to-cart-input-products {
    min-width: 250px;
}

.add-to-cart-input-products>input[name=quantity] {
    max-width: 70px;
}

.pagination>* {
    padding: 8px 0;
}

.pagination>*:hover {
    cursor: pointer;
}

.pagination a {
    color: #000;
    padding: 7px 13px;
}

.current-page, .page-selector {
    border-radius: 5px;
}

.current-page {
    background:linear-gradient(#4ea5e8, #35688e);
    color: #fff;
    padding: 8px 13px;
    margin-left: 2px;
    margin-right: 2px;
}

.page-selector {
    background-color: #ccc;
    margin-left: 2px;
    margin-right: 2px;
}

.item-out-of-stock {
    color: red;
    font-weight: 700;
    font-size: 1.1rem;
}

/* --------- Product -------- */

.add-to-cart-input-product {
    width: 250px;
}

.product-img {
    width: 90%;
    max-width: 400px;
    max-height: 400px;
}

.product-main-image:hover {
    cursor: zoom-in;
}

.product-carousel-indicators > div {
    max-width: 100px;
    cursor: pointer;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e");
}


/* --------- Cart -------- */

.cart {
    border: 1px solid #ccc;
}

.cart-titles,
.total-items-mobile {
    border-bottom: 1px solid #ccc;
}

.cart-titles h5 {
    margin-bottom: 0;
    font-size: 1.1rem;
}

.product-cart-image {
    width: 100%;
}

.amend-quantity {
    max-width: 110px;
}

.cart-total,
.cart-description {
    font-size: 1.2rem;
}

.cart-item-number {
    font-size: .8rem;
}


/* --------- Profile -------- */

.profile-information {
    list-style: none;
}

.order-titles {
    border-bottom: 1px solid #ccc;
}

.order-titles>div {
    justify-content: center;
}

.order-titles h5 {
    margin-bottom: 0;
    font-size: 1.1rem;
}

.order-item-number {
    font-size: .8rem;
}

.order-description {
    font-size: 1.2rem;
}

/* --------- Checkout -------- */

.payment-jumbotron {
    width: 90%;
    max-width: 700px;
}

/* --------- Media Queries -------- */

@media only screen and (min-width: 992px) {
    .basket-counter {
        left: 0;
    }
    .remove-item-from-cart {
        order: 1;
    }
    .cart-description {
        font-size: 1rem;
    }
}