{% extends 'base.html' %}

{% load staticfiles %}

<!-- Product Title -->
{% block title %}Product{% endblock %}

<!-- Product Breadcrumb -->
{% block breadcrumb %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item"><a href="{% url 'home_page' %}">Home</a></li>
        <li class="breadcrumb-item previous-page"><a>Products</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ product.description }}</li>
    </ol>
</nav>
{% endblock %}

<!-- Product -->
{% block content %}
<div class="container product-container mt-4">
    <div class="row">
        <div class="col-xs-12 col-lg-5">
            <!-- Product Carousel -->
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="false">
                <div class="carousel-inner">
                    <!-- Each Carousel Image -->
                    {% for product_image in product.image_set.all %}
                    {% if forloop.counter == 1 %}
                    <div class="carousel-item product-carousel-item text-center active">
                        {% else %}
                        <div class="carousel-item product-carousel-item text-center">
                            {% endif %}
                            <img class="product-img product-main-image p-1"
                                src="{{ MEDIA_URL }}{{ product_image.image }}" alt="{{ product.description }}">
                        </div>
                        {% endfor %}
                    </div>
                    {% if product.image_set.all.count > 1 %}
                    <!-- Carousel Previous Arrow -->
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon mr-4" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <!-- Carousel Next Arrow -->
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon ml-4" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                    {% endif %}
                </div>
                <!-- Carousel Indicators -->
                <div class="carousel-indicators product-carousel-indicators position-relative m-0">
                    {% if product.image_set.all.count > 1 %}
                    {% for product_image in product.image_set.all %}
                    <!-- Each Carousel Indicator As An Image -->
                    <div data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.counter0 }}">
                        <img class="product-img product-indicator-image p-1"
                            src="{{ MEDIA_URL }}{{ product_image.image }}" alt="{{ product.description }}">
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
            <!-- Product Information -->
            <div class="col-xs-12 col-lg-7">
                <p class="text-muted"><b>{{ product.brand }}</b></p>
                <h2 class="mb-4">{{ product.description }}</h2>
                <p>Item Number: {{ product.item_number }}</p>
                <h5 class="mb-3">Price: <b>£{{ product.price }}</b></h5>
                <!-- Add to Cart -->
                <form class="mb-5" method="POST" action="{% url 'add_to_cart' product.id %}">
                    {% csrf_token %}
                    <div class="input-group add-to-cart-input-product mb-3">
                        {% if product.stock %}
                        <!-- Adjust Quantity -->
                        <input name="quantity" type="number" value="1" min="1" max="{{ product.stock }}"
                            class="form-control mr-2" placeholder="Quantity">
                        <!-- Add To Cart Button -->
                        <span>
                            <button class="btn btn-success previous-page" type="submit">
                                Add to Cart <i class="fas fa-cart-arrow-down"></i>
                            </button>
                        </span>
                        {% else %}
                        <!-- Item Out Of Stock -->
                        <p class="item-out-of-stock text-center"><i>Item out of stock</i></p>
                        {% endif %}
                    </div>
                </form>
                <!-- Product About/Specifications/Dimensions -->
                <ul class="nav nav-tabs product-tab d-flex" id="myTab" role="tablist">
                    <!-- About Tab Button -->
                    <li class="nav-item">
                        <a class="nav-link product-nav-link active" id="about-tab" data-toggle="tab" href="#about" role="tab"
                            aria-controls="about" aria-selected="true">About</a>
                    </li>
                    <!-- Specifications Tab Button -->
                    <li class="nav-item">
                        <a class="nav-link product-nav-link" id="specification-tab" data-toggle="tab" href="#specification" role="tab"
                            aria-controls="specification" aria-selected="false">Specifications</a>
                    </li>
                    <!-- Dimensions Tab Button -->
                    <li class="nav-item">
                        <a class="nav-link product-nav-link" id="dimension-tab" data-toggle="tab" href="#dimension" role="tab"
                            aria-controls="dimension" aria-selected="false">Dimensions</a>
                    </li>
                </ul>
                <div class="tab-content px-3 py-2 mb-3" id="myTabContent">
                    <!-- About Tab Content -->
                    <div class="tab-pane fade show active" id="about" role="tabpanel" aria-labelledby="about-tab">
                        <p class="mt-3">{{ product.about_product }}</p>
                    </div>
                    <!-- Specifications Tab Content -->
                    <div class="tab-pane fade" id="specification" role="tabpanel" aria-labelledby="specification-tab">
                        <div class="mt-4">
                        {% for product_specification in product.specification_set.all %}
                            <p>{{ product_specification.specification }}</p>
                        {% endfor %}
                        </div>
                    </div>
                    <!-- Dimensions Tab Content -->
                    <div class="tab-pane fade" id="dimension" role="tabpanel" aria-labelledby="dimension-tab">
                        <div class="mt-4">
                        <h4 class="text-underlined font-weight-bold mb-3">Item Dimensions</h4>
                        <p><b>Height: </b>{{ product.item_height }}cm</p>
                        <p><b>Length: </b>{{ product.item_length }}cm</p>
                        <p><b>Width: </b>{{ product.item_width }}cm</p>
                        <hr>
                        <h4 class="text-underlined font-weight-bold mb-3">Packaging Dimensions</h4>
                        <p><b>Height: </b>{{ product.package_height }}cm</p>
                        <p><b>Length: </b>{{ product.package_height }}cm</p>
                        <p><b>Width: </b>{{ product.package_height }}cm</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}