{% extends 'base.html' %}

<!-- Products Title -->
{% block title %}Products{% endblock %}

<!-- Products Breadcrumb -->
{% block breadcrumb %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item"><a href="{% url 'home_page' %}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Products</li>
    </ol>
</nav>
{% endblock %}

<!-- Products -->
{% block content %}
<div class="container mt-5">
    <!-- Brand select list -->
    <div class="row">
        <div class="col">
            <form method="GET" action="{% url 'all_products' %}" class="form-inline m-0 mb-3 p-0 justify-content-end">
                <label class="mr-2 mb-0" for="brand">Select Brand: </label>
                <select class="select-brand mr-1" name="brand" id="brand" value="{{ brand }}">
                    <option value="" selected disabled>-- Select a brand --</option>
                    {% for brand_item in brand_list %}
                    {% if brand_item.brand == brand %}
                    <option value="{{ brand_item.brand }}" selected>{{ brand_item.brand }}</option>
                    {% else %}
                    <option value="{{ brand_item.brand }}">{{ brand_item.brand }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
                <button class="btn btn-primary select-brand-button p-0 px-2" type="submit">Go!</button>
            </form>
        </div>
    </div>
    <!-- Message to inform user of what they're querying & for how many items there are of that query -->
    <div class="row">
        <div class="col">
            {% if products.paginator.num_pages > 1 %}
            <p class="text-muted float-right">(Page {{ products.number }} of {{ products.paginator.num_pages }})</p>
            {% endif %}
            {% if query %}
            <p>Found <b>'{{ product_count }}'</b> products for <b>'{{ query }}'</b></p>
            {% elif brand %}
            <p>Found <b>'{{ product_count }}'</b> products for <b>'{{ brand }}'</b></p>
            {% else %}
            <p>List of all <b>'{{ product_count }}'</b> products</p>
            {% endif %}
        </div>
    </div>

    <!-- Products List -->
    <div class="row">
        {% if products %}
        {% for product in products %}
        <!-- Each item in the products list -->
        <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="card mb-5">
                <div class="card-body">
                    <a class="products-link" href="{% url 'product' product.id %}">
                        <div class="product-image" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}')">
                        </div>
                        <div class="card-description">
                            <p class="card-text text-center">{{ product.description }}</p>
                        </div>
                    </a>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><b>£{{ product.price }}</b></li>
                        <li class="list-group-item px-0">
                            <form method="POST" action="{% url 'add_to_cart' product.id %}">
                                {% csrf_token %}
                                {% if product.stock %}
                                <div
                                    class="input-group add-to-cart-input-products d-md-flex justify-content-between justify-content-sm-start justify-content-md-between">
                                    <input name="quantity" type="number" value="1" min="1" max="{{ product.stock }}"
                                        class="form-control" placeholder="Quantity">
                                    <span>
                                        <button class="btn btn-success" type="submit">Add to Cart <i
                                                class="fas fa-cart-arrow-down"></i></button>
                                    </span>
                                </div>
                                {% else %}
                                <div class="input-group d-flex justify-content-center">
                                    <p class="item-out-of-stock text-center mb-0"><i>Item out of stock</i></p>
                                </div>
                                {% endif %}
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <p>No products currently available!</p>
        {% endif %}
    </div>

    <!-- Pagination -->
    {% if products.paginator.num_pages > 1 %}
    <div class="row mb-5">
        <div class="col pagination-col">
            <div class="text-center">
                <p class="text-muted">(Page {{ products.number }} of {{ products.paginator.num_pages }})</p>
            </div>
            <div class="pagination d-flex justify-content-center">
                <!-- Previous Pages -->
                {% if products.has_previous %}
                <a class="pagination-action" href="?{{ page_request_var }}page=1">
                    <i class="fas fa-angle-double-left"></i>
                </a>
                <a class="pagination-action" href="?{{ page_request_var }}page={{ products.previous_page_number }}">
                    <span>Prev</span>
                </a>
                {% endif %}
                <!-- Page Selectors -->
                {% for num in products.paginator.page_range %}
                {% if products.number == num %}
                <strong class="current-page">{{ num }}</strong>
                {% elif num > products.number|add:'-3' and num < products.number|add:'3' %}
                <span class="page-selector"><a href="?{{ page_request_var }}page={{ num }}">{{ num }}</a></span>
                {% endif %}
                {% endfor %}
                <!-- Next Pages -->
                {% if products.has_next %}
                <a class="pagination-action" href="?{{ page_request_var }}page={{ products.next_page_number }}">
                    <span>Next</span>
                </a>
                <a class="pagination-action" href="?{{ page_request_var }}page={{ products.paginator.num_pages }}">
                    <i class="fas fa-angle-double-right"></i>
                </a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}