{% extends 'base.html' %}

{% block title %}Products{% endblock %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home_page' %}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Products</li>
    </ol>
</nav>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        {% if products %}
        {% for product in products %}
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="card" style="width: 18rem;">
                <div class="product" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}')"></div>
                <div class="card-body">
                    <h5 class="card-title">{{ product.title }}</h5>
                    <p class="card-text">{{ product.description }}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">£{{ product.price }}</li>
                    <li class="list-group-item">
                        <form method="POST" action="{% url 'add_to_cart' product.id %}">
                            {% csrf_token %}
                            <div class="input-group">
                                {% if product.quantity %}
                                <input name="quantity" type="number" value="1" min="1" max="{{ product.stock }}" class="form-control" placeholder="Quantity">
                                <span>
                                    <button class="btn btn-success" type="submit">Add to Cart <i class="fas fa-cart-arrow-down"></i></button>
                                </span>
                            </div>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <p>No products currently available!</p>
        {% endif %}
    </div>

    <!-- Pagination -->
    {% if products.paginator.num_pages > 1 %}
    <div class="row">
        <div class="col pagination-col">
            <div class="text-center">
                <p>(Page {{ products.number }} of {{ products.paginator.num_pages }})</p>
            </div>
            <div class="pagination d-flex justify-content-center">
                <!-- Previous Pages -->
                {% if products.has_previous %}
                    <a class="pagination-action" href="?{{ page_request_var }}page=1">
                        <i class="fas fa-angle-double-left"></i>
                    </a>
                    <a class="pagination-action" href="?{{ page_request_var }}page={{ products.previous_page_number }}">
                        <span>Prev</span>
                    </a>
                {% endif %}
                <!-- Page Selectors -->
                {% for num in products.paginator.page_range %}
                    {% if products.number == num %}
                        <strong class="current-page">{{ num }}</strong>
                    {% elif num > products.number|add:'-3' and num < products.number|add:'3' %}
                        <span class="page-selector"><a href="?{{ page_request_var }}page={{ num }}">{{ num }}</a></span>
                    {% endif %}
                {% endfor %}
                <!-- Next Pages -->
                {% if products.has_next %}
                    <a class="pagination-action" href="?{{ page_request_var }}page={{ products.next_page_number }}">
                        <span>Next</span>
                    </a>
                    <a class="pagination-action" href="?{{ page_request_var }}page={{ products.paginator.num_pages }}">
                        <i class="fas fa-angle-double-right"></i>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endif %}

</div>
{% endblock %}