{% extends 'base.html' %}

{% load crispy_forms_tags %}

<!-- Successful Payment Title -->
{% block title %}Successful Payment{% endblock %}

<!-- Breadcrumb -->
{% block breadcrumb %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home_page' %}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="{% url 'view_cart' %}">Successful Payment</li>
    </ol>
</nav>
{% endblock %}

<!-- Order Progress -->
{% if user.is_authenticated %}
{% block order_progress %}
<!-- Order Progress Bar -->
<div class="progress position-relative mt-5">
    <div class="progress-bar w-100" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<!-- Order Step Indicator -->
<div class="position-relative d-flex justify-content-between progression-labels">
    <div class="position-absolute progression-labels-section d-flex justify-content-between w-100">
        <div class="cart-status-label status-done item d-flex justify-content-center align-items-center">
            <div class="cart-status-page">1</div>
        </div>
        <div class="checkout-status-label status-done d-flex justify-content-center align-items-center text-muted">
            <div class="checkout-status-page">2</div>    
        </div>
        <div class="payment-status-label status-done d-flex justify-content-center align-items-center text-muted">
            <div class="payment-status-page">3</div>
        </div>
    </div>
</div>
<!-- Order Status -->
<div class="position-relative d-flex justify-content-between progression-labels">
    <div class="cart-status font-weight-bold">
        <p>Cart</p>
    </div>
    <div class="checkout-status font-weight-bold">
        <p class="text-right">Checkout</p>
    </div>
    <div class="payment-status font-weight-bold">
        <p>Payment</p>
    </div>
</div>
{% endblock %}
{% if user.is_authenticated %}

<!-- Payment Confirm Message -->
{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col">
            <div class="jumbotron">
                <p class="d-flex justify-content-center"><i class="far fa-check-circle"></i></p>
                <p class="text-center">Thank you for your order</p>
                <p class="text-center">Click here to <a href="{% url 'all_products' %}">keep shopping</a></p>
            </div>
        </div>
    </div>
</div>

{% endblock %}