{% extends 'base.html' %}

{% load crispy_forms_tags %}

<!-- Successful Payment Title -->
{% block title %}Successful Payment{% endblock %}

<!-- Payment Confirm Message -->
{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col">
            <div class="jumbotron">
                <p class="d-flex justify-content-center"><i class="far fa-check-circle"></i></p>
                <p class="text-center">Thank you for your order</p>
                <p class="text-center">Click here to <a href="{% url 'all_products' %}">keep shopping</a></p>
            </div>
        </div>
    </div>
</div>

{% endblock %}