{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% load mathfilters %}

<!-- Cart Title -->
{% block title %}Cart{% endblock %}

<!-- Breadcrumb -->
{% block breadcrumb %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home_page' %}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="{% url 'view_cart' %}">Cart</li>
    </ol>
</nav>
{% endblock %}

<!-- Order Progress -->

{% block order_progress %}
{% if user.is_authenticated and cart_count > 0 %}
<!-- Order Progress Bar -->
<div class="progress position-relative mt-5">
    <div class="progress-bar w-0" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<!-- Order Step Indicator -->
<div class="position-relative d-flex justify-content-between progression-labels">
    <div class="position-absolute progression-labels-section d-flex justify-content-between w-100">
        <div class="cart-status-label status-done">
            <div class="cart-status-page">1</div>
        </div>
        <div class="checkout-status-label text-muted">
            <div class="checkout-status-page">2</div>    
        </div>
        <div class="payment-status-label text-muted">
            <div class="payment-status-page">3</div>
        </div>
    </div>
</div>
<!-- Order Status -->
<div class="position-relative d-flex justify-content-between progression-labels">
    <div class="cart-status font-weight-bold">
        <p>Cart</p>
    </div>
    <div class="checkout-status text-muted">
        <p class="text-right">Checkout</p>
    </div>
    <div class="payment-status text-muted">
        <p>Payment</p>
    </div>
</div>
{% endif %}
{% endblock %}


<!-- Cart -->
{% block content %}
<div class="container mt-4">
    <div class="row">
        {% if cart_count > 0 %}
            <div class="col-12 cart p-0">
                <!-- Cart Titles -->
                <div class="container cart-titles">
                    <div class="row d-none d-lg-flex p-2">
                        <div class="col-xs-12 col-lg-5">
                            <h5 class="text-center">Total of {{ cart_count }} item(s)</h5>
                        </div>
                        <div class="col-xs-12 col-lg-1">
                            <h5 class="text-center">Price</h5>
                        </div>
                        <div class="col-xs-12 col-lg-2">
                            <h5 class="text-center">Quantity/Amend</h5>
                        </div>
                        <div class="col-xs-12 col-lg-2">
                            <h5 class="text-center">Line Total</h5>
                        </div>
                        <div class="col-xs-12 col-lg-2">
                            <h5 class="text-center">Remove</h5>
                        </div>
                    </div>
                </div>
                <!-- Cart Titles (Mobile) -->
                <div class="container">
                    <div class="row d-lg-none total-items-mobile py-2">
                        <div class="col">
                            <h5 class="text-center">Total of {{ cart_count }} item(s)</h5>
                        </div>
                    </div>
                </div>
                {% for item in cart_items %}
                    <!-- Each Item In The Cart -->
                    <div class="container mb-5">
                        <div class="row d-flex align-items-center p-2">
                            <!-- Cart Item Image -->
                            <div class="col-xs-12 col-lg-2">
                                {% for product_image in item.product.image_set.all %}
                                {% if forloop.counter == 1 %}
                                <div class="product-image product-cart-image" style="background-image: url('{{ MEDIA_URL }}{{ product_image.image }}')"></div>
                                {% endif %}
                                {% endfor %}
                            </div>
                            <!-- Cart Item Description -->
                            <div class="col-xs-12 col-lg-3">
                                <p class="cart-item-number text-muted text-center font-weight-bold mb-0"><i>{{ item.product.item_number }}</i></p>
                                <p class="cart-description text-center mb-1 mb-lg-1">{{ item.product.description }}</p>
                            </div>
                            <!-- Cart Item Price -->
                            <div class="col-xs-12 col-lg-1">
                                <div class="text-center mb-1">
                                    <span class="d-lg-none"><b>Price: </b></span>
                                    <span>£{{ item.product.price }}</span>
                                </div>
                            </div>
                            <!-- Cart Item Quantity & Amend Quantity -->
                            <div class="col-xs-12 col-lg-2 d-flex justify-content-center align-items-center mb-3 mb-lg-0">
                                <span class="d-lg-none"><b>Quantity/Amend:</b> </span>
                                <form method="POST" action="{% url 'adjust_cart' item.id %}">
                                    {% csrf_token %}
                                    <div class="form-group mb-0 mb-lg-1">
                                        <div class="input-group amend-quantity mx-auto">
                                            <input class="form-control" name="quantity" type="number" value="{{ item.quantity }}" min="1" max="{{ item.product.stock }}">
                                            <abbr title="Change value then click button to update cart">
                                                <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> <i class="fas fa-cog"></i></button>
                                            </abbr>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- Cart Item Line Total -->
                            <div class="col-xs-12 col-lg-2 text-center mb-2">
                                <span class="d-lg-none"><b>Line Total: </b></span>
                                <span class="cart-line-total price-with-commas">{{ item.product.price|mul:item.quantity }}</span>
                            </div>
                            <!-- Cart Item Remove From Cart Button -->
                            <div class="col-xs-12 col-lg-2 remove-item-from-cart">
                                <form method="POST" action="{% url 'remove_from_cart' item.id %}">
                                    {% csrf_token %}
                                    <div class="form-group d-flex justify-content-center mb-0 mb-lg-1">
                                        <abbr title="Remove item from cart">
                                        <button class="btn btn-danger remove-item-button" type="submit"><span class="glyphicon glyphicon-delete"
                                            aria-hidden="true"><span class="d-lg-none">Remove </span></span><i class="fas fa-trash"></i></button>
                                        </abbr>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
        <!-- No Items in Cart -->
            <p>There are currently no items in your cart!</p>
        {% endif %}
    </div>
</div>

<!-- Checkout -->
<div class="container mt-5">
    <div class="row">
        <div class="col text-right">
            <!-- Cart Total Price -->
            <div class="mb-2">
                <span><b>Total: </b></span>
                <span id="cart-total" class="price-with-commas">{{ total }}</span>
            </div>
            <!-- Checkout -->
            {% if user.is_authenticated %}
                {% if cart_count > 0 %}
                    <a href="{% url 'checkout' %}" class="btn btn-success" role="button"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>Checkout <i class="far fa-check-circle"></i></a>
                {% else %}
                    <p>No items to checkout</p>
                {% endif %}
            {% else %}
                <p><a href="{% url 'login' %}">Checkout requires login</a> </p>
            {% endif %}
        </div>
    </div>
</div>


{% endblock %}