{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% load mathfilters %}

{% block title %}Cart{% endblock %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home_page' %}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="{% url 'view_cart' %}">Cart</li>
    </ol>
</nav>
{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row mt-5">
        {% if cart_count > 0 %}
            <div class="col-12 cart p-0">
                <div class="container d-none d-lg-block cart-title">
                    <div class="row p-2">
                        <div class="col-xs-12 col-lg-5">
                            <h5 class="text-center">Total of {{ cart_count }} items</h5>
                        </div>
                        <div class="col-xs-12 col-lg-1">
                            <h5 class="text-center">Price</h5>
                        </div>
                        <div class="col-xs-12 col-lg-2">
                            <h5 class="text-center">Quantity/Amend</h5>
                        </div>
                        <div class="col-xs-12 col-lg-2">
                            <h5 class="text-center">Line Total</h5>
                        </div>
                        <div class="col-xs-12 col-lg-2">
                            <h5 class="text-center">Remove</h5>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row d-lg-none total-items-mobile py-2">
                        <div class="col">
                            <h5 class="text-center">Total of {{ cart_count }} items</h5>
                        </div>
                    </div>
                </div>
                {% for item in cart_items %}
                    <div class="container">
                        <div class="row d-flex align-items-center p-2">
                            
                            <div class="col-xs-12 col-lg-2">
                                <div class="product-image product-cart-image" style="background-image: url('{{ MEDIA_URL }}{{ item.product.image }}')"></div>
                            </div>
                            <div class="col-xs-12 col-lg-3">
                                <p class="text-center">{{ item.product.description }}</p>
                            </div>
                            <div class="col-xs-12 col-lg-1">
                                <p class="text-center"><span class="d-lg-none"><b>Price: </b></span>£{{ item.product.price }}</p>
                            </div>
                            <div class="col-xs-12 col-lg-2 d-flex justify-content-center align-items-center mb-3 mb-lg-0">
                                <span class="d-lg-none"><b>Quantity/Amend:</b> </span>
                                <form method="POST" action="{% url 'adjust_cart' item.id %}">
                                    {% csrf_token %}
                                    <div class="form-group mb-0 mb-lg-3">
                                        <div class="input-group amend-quantity mx-auto">
                                            <input name="quantity" type="number" value="{{ item.quantity }}" min="1" max="{{ item.product.stock }}" class="form-control">
                                            <abbr title="Change value then click button to update cart">
                                                <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> <i class="fas fa-cog"></i></button>
                                            </abbr>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-xs-12 col-lg-2 text-center mb-2">
                                <span class="d-lg-none"><b>Line Total: </b></span><span class="cart-line-total">{{ item.product.price|mul:item.quantity }}</span>
                            </div>
                            <div class="col-xs-12 col-lg-2 remove-item-from-cart">
                                <form method="POST" action="{% url 'remove_from_cart' item.id %}">
                                    {% csrf_token %}
                                    <div class="form-group d-flex justify-content-center">
                                        <abbr title="Remove item from cart">
                                        <button class="btn btn-danger remove-item-button" type="submit"><span class="glyphicon glyphicon-delete"
                                            aria-hidden="true"><span class="d-lg-none">Remove </span></span><i class="fas fa-trash"></i></button>
                                        </abbr>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
        <p>There are currently no items in your cart!</p>
        {% endif %}
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col text-right">
            <div class="mb-2">
                <span><b>Total: </b></span>
                <span id="cart-total">{{ total }}</span>
            </div>
            {% if user.is_authenticated %}
                {% if cart_count > 0 %}
                    <a href="{% url 'checkout' %}" class="btn btn-success" role="button"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>Checkout <i class="far fa-check-circle"></i></a>
                {% else %}
                    <p>No items to checkout</p>
                {% endif %}
            {% else %}
                <p><a href="{% url 'login' %}">Checkout requires login</a> </p>
            {% endif %}
        </div>
    </div>
</div>


{% endblock %}